<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- START SIGMA IMPORTS -->
		<script src="./src/sigma.core.js"></script>
		<script src="./src/conrad.js"></script>
		<script src="./src/utils/sigma.utils.js"></script>
		<script src="./src/utils/sigma.polyfills.js"></script>
		<script src="./src/sigma.settings.js"></script>
		<script src="./src/classes/sigma.classes.dispatcher.js"></script>
		<script src="./src/classes/sigma.classes.configurable.js"></script>
		<script src="./src/classes/sigma.classes.graph.js"></script>
		<script src="./src/classes/sigma.classes.camera.js"></script>
		<script src="./src/classes/sigma.classes.quad.js"></script>
		<script src="./src/classes/sigma.classes.edgequad.js"></script>
		<script src="./src/captors/sigma.captors.mouse.js"></script>
		<script src="./src/captors/sigma.captors.touch.js"></script>
		<script src="./src/renderers/sigma.renderers.canvas.js"></script>
		<script src="./src/renderers/sigma.renderers.webgl.js"></script>
		<script src="./src/renderers/sigma.renderers.svg.js"></script>
		<script src="./src/renderers/sigma.renderers.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.labels.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.utils.js"></script>
		<script src="./src/renderers/svg/sigma.svg.nodes.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.edges.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.edges.curve.js"></script>
		<script src="./src/renderers/svg/sigma.svg.labels.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.hovers.def.js"></script>
		<script src="./src/middlewares/sigma.middlewares.rescale.js"></script>
		<script src="./src/middlewares/sigma.middlewares.copy.js"></script>
		<script src="./src/misc/sigma.misc.animation.js"></script>
		<script src="./src/misc/sigma.misc.bindEvents.js"></script>
		<script src="./src/misc/sigma.misc.bindDOMEvents.js"></script>
		<script src="./src/misc/sigma.misc.drawHovers.js"></script>
		<!-- END SIGMA IMPORTS -->
		<title>
			Graph Coloring
		</title>
	</head>
	<body>
		<center>
			<div id="title">
				{{ .Date }}</br>
				{{ .Github }}</br>
			</div>
		</center>	
		<div id="container">
			<style>
				#graph-container {
					top: 25%;
					bottom: 25%;
					left: 25%;
					right: 25%;
					max-width: 50%;
    				height: 50%;
					position: absolute;
				}
			</style>
			<div id="graph-container"></div>
		</div>
		<script>
			var g = {nodes: [], edges: []};

			{{ range .Vertices }}
				g.nodes.push({
					id: {{ .VertexID }},
					label: {{ .VertexLabel }},
					x: Math.random(),
					y: Math.random(),
					size: 1,
					color: {{ .VertexColor }}
				});
			{{end}}

			{{ range .Edges }}
				g.edges.push({
					id: {{ .EdgeID }},
					source: {{ .EdgeSource }},
					target: {{ .EdgeTarget }},
					size: 1,
					color: '#909090'
				});
			{{end}}

			// Instantiate sigma:
			s = new sigma({
				graph: g,
				container: 'graph-container'
			});
		</script>
	</body>
</html>
